body{
	background:url(texture.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
}

#header{
	margin-bottom:40px;
}
.userimage{
	height:150px;
	width:150px;
	border-radius: 50%;
	border:2px solid white;
	box-shadow: 1px 2px 2px gray;
	float:left;

	margin-right:50px;
}

#users_list{

	list-style-type:none;
}

#users_list{

	width:70%;
	
}

.user_container_more{
	display:none;
	padding:15px;
	width:inherit;
	height:auto;
	border:1px solid gray;
	background-color:rgba(255,255,255,0.7);
	box-shadow:1px 1px 5px gray;
	margin-bottom:20px;
	border-radius:10px;
}

.more{
	float:right;
	margin-top: -10px;
	color: blue;
}

.user_container{
	padding:15px;
	width:inherit;
	height:auto;
	border:1px solid gray;
	background-color:rgba(255,255,255,0.7);
	box-shadow:1px 1px 5px gray;
	margin-bottom:20px;
	border-radius:10px;
}